.single-destination{
    margin:3rem 1rem;
    border: solid var(--bodyColor) ;
    border-radius: 10px;
    background: var(--cardBG);
    overflow: hidden;
}
.single-destination:hover{
    background: var(--cardHover);
    box-shadow: 1 4px 4px ;
    transition: .3s ease;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3; 
}
.detail{
    padding:1rem
}
.location{
    border-bottom:solid var(--blackColor) 1px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.location-flex{
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.location span{
    align-self: start;
}
.price{
    font-size: 1rem;
}
.description{
    padding: 1rem 0;
    font-size: 13.5px;
    display: flex;
    justify-content: space-between;
}
.detailbtn{
    border-radius: 5px ;
    background: var(--gradientColor);
    position: relative;
    height: 40px;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    color: var(--whiteColor);
    font-size: 20px;
    width: 20%;
}
.detailbtn button{
    color: var(--whiteColor);
}
button{
    width: 100%;
    background: none;
    outline: none;
    border: none;
}
.rating .review_score{
    padding: 0 0.5rem;
    background-color: #5392f9;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: white;
    font-weight: 500;
}
@media screen and (min-width: 768px) {
    .destinations{
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }
}
@media screen and (min-width:1280px ) {
    .destinations{
        grid-template-columns: repeat(3, 1fr);
        display: grid;
    }
}